@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --yellow: oklch(87.9% 0.169 91.605);
  --bg: oklch(21.6% 0.006 56.043);
  --contour: oklch(26.8% 0.007 34.298);
  --countour-secondary: oklch(60.2% 0.01 41.269);
  --primary: oklch(92.3% 0.003 48.717);
  --secondary: oklch(70.9% 0.01 56.259);
}

:root {
  --footer-size: 2rem;
}

::-moz-selection {
  color: var(--bg);
  background: var(--yellow);
}

::selection {
  color: var(--bg);;
  background: var(--yellow);
}

html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding: 0 25% 0 25%;
    margin: 0;
    height: 100vh;
    background-color: var(--bg);;
    color: oklch(98.5% 0.001 106.423);
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    overflow: hidden;
}

.about {
  padding-top: 2rem;
  color: var(--primary);
}

.about > .dropdown {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.name {
    font-size: 3rem;
    color: var(--yellow);
    margin: 20px 0 10px 0;
    display: inline;
}

.title {
    font-size: 2.25rem;
    color: var(--primary);
    display: inline;
}

.description {
  padding: 1rem 1.5rem 1rem 1.5rem;
  background: var(--contour);
  border-radius: 8px;
  width: 75%;
  justify-content: center;
  margin-bottom: 1rem;
}

.description > .text {
  text-align: left;
}

.dropdown-content {
    display: none;
}

.dropdown-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

button {
    background-color: var(--contour);
    color: var(--primary);
    padding: 2px 2px;
    width: 60px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    border-radius: 3px;
    border: solid var(--primary) 1px;
    text-align: center;
}

.about > title {
  display: inline;
}

.dropdown {
  display: inline;
}

button:hover {
    background-color: var(--yellow);
    color: var(--bg);
}

.cardlist {
  /* border: solid white 2px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardlist > div {
  flex: calc(50% - 2*3rem);
  outline: solid var(--countour-secondary) 1px;
  margin: 3rem;
}

.cardlist > div:nth-child(-n + 2) {
  margin-top: 1.5rem;
}

.card {
  position: relative;
  border-radius: 4px;
}

.card-footer {
  position: absolute;
  bottom: 0;
  height: var(--footer-size);
  background-color: var(--yellow);
  color: var(--bg); 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  z-index: 2;
  border-radius: 4px;
}

.card-footer:hover {
  text-decoration: underline;
}

.card-desc {
  text-align: left;
  margin: 0 0.75rem 0.75rem 0.75rem;
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  /* min-height: calc(100% - var(--footer-size) - 2rem); */
  border-radius: 10px;
  width: calc(100% - 2.5rem);
  background-color: #000000aa;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.divider {
  border-bottom: var(--countour-secondary) 1px solid;
  height: 1rem;
  margin-bottom: 1rem;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link > .title:hover {
  color: var(--secondary);
  text-decoration: underline;
}

.scroll-bottom {
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 100%;
  overflow: hidden;
  display: none;
  border-bottom: var(--contour) 1px solid;
}

.scroll-top {
  position: absolute;
  top: 0;
  height: 120px;
  width: 100%;
  overflow: hidden;
  display: none;
  border-top: var(--contour) 1px solid;
}

.scroll-bottom > .scroll-shadow {
  box-shadow: 0 120px 80px 40px #00000077;
}

.scroll-top > .scroll-shadow {
  box-shadow: 0 0px 80px 40px #00000077;
}

.projects {
  position: relative;
  height: 100%;
}

.card-desc {
  color: var(--primary);

}