@font-face {
    font-family: 'Lato';
    src: url(Fonts/Lato-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(Fonts/Lato-Black.ttf);
    font-weight: bold;
}

body{
    background-color:rgb(35, 46, 65);
    color: white;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem;
    height: 3rem;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: rgb(180, 180, 180);
    transition: 100ms
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    top: 0.75rem;
}

nav li {
    font-size: 133%;
    display: inline-block;
    margin: 0 2rem;
    width: 6rem;
}

.main {
    background-color: rgb(68, 71, 97);
    height: 37rem;
    padding: 1rem;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.content a {
    color: white;
    text-decoration: none;
}

.content a:hover {
    color: rgb(180, 180, 180);
    transition: 100ms
}

.content ul {
    list-style-type: none;
    margin: 0 0;
    padding: 0;
    width: 25rem;
}

.content li {
    margin: 0 0 1rem 0;
}

.content h1 {
    font-weight: bold;
    font-size: 26px;
    margin: 1rem 0 1.5rem 0;
}

footer {
    background-color: rgb(35, 46, 65);
    color: whitesmoke;
    font-size: 14px;
    text-align: center;
}

